version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: lets_play_postgres
    ports:
      - "${DB_PORT}:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      # POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
  app:
    build: .
    container_name: lets_play_api
    ports:
      - "${PORT}:3000"
    environment:
      - PORT=${PORT}
      - IN_MEMORY_DATA=${IN_MEMORY_DATA:-false}
      - DB_HOST=postgres
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    depends_on:
      - postgres
    restart: always

volumes:
  postgres_data:
